<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/Layout-Admin}">
<head>

    <title>Add Extra Charge</title>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const now = new Date();
            const day = String(now.getDate()).padStart(2, '0');
            const month = String(now.getMonth() + 1).padStart(2, '0'); // Months are zero-based
            const year = now.getFullYear();
            // Setting the formatted date for display (dd-MM-yyyy)
            document.getElementById('displayDay').textContent = `${day}-${month}-${year}`;
            // Setting the hidden date for form submission (yyyy-MM-dd)
            document.getElementById('extraChargeDate').value = `${year}-${month}-${day}`;
        });
    </script>
</head>
<body>
<section class="mt-20 flex w-full justify-center" layout:fragment="content">
    <div class="w-4/6 rounded-xl bg-white p-5 shadow-2xl">
        <div class="flex items-center justify-between">
            <h2 class="inline border-b-4 pb-2 text-2xl font-bold">
                Bảng phụ phí
            </h2>
            <div class="flex">
                <div class="flex flex-col gap-2">
                    <p class="text-lg">
                        Mã Thanh toán:
                        <strong class="text-[#FF5B26]" th:text="${payment.paymentId}"></strong>
                    </p>
                    <p class="text-lg">
                        Thời gian phụ phí:
                        <strong class="text-[#FF5B26]" id="displayDay"></strong>
                    </p>
                </div>
            </div>
        </div>
        <form th:action="@{/extraCharges/save/{paymentId}(paymentId=${payment.paymentId})}" th:object="${extraCharge}" method="post" class="mt-10">
            <input type="text" id="paymentId" name="paymentId" th:value="${payment.paymentId}" class="form-control" hidden="hidden">
            <input type="hidden" id="extraChargeDate" name="extraChargeDate" th:field="*{extraChargeDate}">
            <div class="flex gap-4 pb-3">
                <div class="flex w-full flex-col gap-2">
                    <label for="reason" class="text-xs font-medium"
                    >Lý do phụ phí</label
                    >
                    <input
                            id="reason" name="reason" th:field="*{reason}"
                            required
                            type="text"
                            class="h-10 rounded-md border-2 p-4 text-lg text-black"
                            pattern="^[a-zA-ZÀ-ỹ\d\s]+$" title="Field must contain only letters, numbers, and spaces"
                    />
                    <p class="ml-2 text-sm font-semibold text-red-500" th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}">

                    </p>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="payExtra" class="text-xs font-medium"
                    >Tiền phụ phí thêm</label
                    >
                    <input
                            id="payExtra" name="payExtra" th:field="*{payExtra}"
                            type="number"
                            class="h-10 rounded-md border-2 p-4 text-lg text-black"
                            required min="500" step="0.01" title="Field must contain only numeric characters and minimum value is 500"
                    />
                    <p class="ml-2 text-sm font-semibold text-red-500" th:if="${#fields.hasErrors('payExtra')}" th:errors="*{payExtra}">

                    </p>
                </div>
            </div>
            <div class="mt-8 flex justify-end gap-3">
                <button
                        type="submit"
                        class="rounded-full bg-green-500 px-[2.19rem] py-[0.94rem] text-[1.125rem] font-semibold text-white hover:opacity-90"
                >
                    Xác nhận phụ phí
                </button>
                <a
                        href="/extraCharges/showAdminExtraChargesList"
                        class="rounded-full bg-red-500 px-[2.19rem] py-[0.94rem] text-[1.125rem] font-semibold text-white hover:opacity-90"
                >
                    Hủy
                </a>
            </div>
        </form>
    </div>
</section>
<!--<section layout:fragment="content">-->
<!--    <main class="container mt-4">-->
<!--        <form th:action="@{/extraCharges/save/{paymentId}(paymentId=${payment.paymentId})}" th:object="${extraCharge}" method="post">-->
<!--            <div class="form-group">-->
<!--                <label for="paymentId">Payment ID:</label>-->
<!--                <input type="text" id="paymentId" name="paymentId" th:value="${payment.paymentId}" class="form-control" readonly>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="reason">Reason:</label>-->
<!--                <input type="text" id="reason" name="reason" th:field="*{reason}" class="form-control" required pattern="^[a-zA-ZÀ-ỹ\d\s]+$" title="Field must contain only letters, numbers, and spaces">-->
<!--                <div class="text-danger" th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}">Reason Error</div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="payExtra">Pay Extra:</label>-->
<!--                <input type="number" id="payExtra" name="payExtra" th:field="*{payExtra}" class="form-control" required min="500" step="0.01" title="Field must contain only numeric characters and minimum value is 500">-->
<!--                <div class="text-danger" th:if="${#fields.hasErrors('payExtra')}" th:errors="*{payExtra}">Pay Extra Error</div>-->
<!--            </div>-->


<!--            <div class="form-group">-->
<!--                <label for="formattedExtraChargeDate">Extra Charge Date:</label>-->
<!--                <input type="text" id="formattedExtraChargeDate" class="form-control" readonly>-->
<!--                <input type="hidden" id="extraChargeDate" name="extraChargeDate" th:field="*{extraChargeDate}">-->
<!--            </div>-->

<!--            <button type="submit" class="btn btn-primary">Save Extra Charge</button>-->
<!--            <a href="/extraCharges/showAdminExtraChargesList" class="btn btn-secondary">Cancel</a>-->
<!--        </form>-->
<!--        <div class="mt-3">-->
<!--            <ul>-->
<!--                <li th:each="error : ${errors}" class="text-danger" th:text="${error}"></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </main>-->
<!--</section>-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

</body>
</html>
