<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Create Hotel</title>
</head>
<body>
<h2>Create Hotel</h2>
<section layout:fragment="content">
  <div th:if="${errors != null}">
    <ul>
      <li th:each="error : ${errors}" th:text="${error}"></li>
    </ul>
  </div>
  <main>
    <form th:action="@{/hotels/save}" th:object="${hotel}" method="post">
      <label for="hotelName">Hotel Name:</label><br>
      <input type="text" id="hotelName" name="hotelName"  required><br>
      <div th:if="${#fields.hasErrors('hotelName')}" th:errors="*{hotelName}"></div>

      <label for="hotelAddress">Hotel Address:</label><br>
      <input type="text" id="hotelAddress" name="hotelAddress"  required><br>
      <div th:if="${#fields.hasErrors('hotelAddress')}" th:errors="*{hotelAddress}"></div>

      <label for="hotelPhone">Hotel Phone:</label><br>
      <input type="text" id="hotelPhone" name="hotelPhone"  required><br>
      <div th:if="${#fields.hasErrors('hotelPhone')}" th:errors="*{hotelPhone}"></div>

      <label for="hotelImage1">Hotel Image 1:</label><br>
      <input type="text" id="hotelImage1" name="hotelImage1" ><br>

      <label for="hotelImage2">Hotel Image 2:</label><br>
      <input type="text" id="hotelImage2" name="hotelImage2" ><br>

      <label for="hotelImage3">Hotel Image 3:</label><br>
      <input type="text" id="hotelImage3" name="hotelImage3" ><br>

      <input type="submit" value="Create Hotel">
    </form>
  </main>
</section>
</body>
</html>
