<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Hotel</title>
</head>
<body>
<h2>Create Hotel</h2>
<form action="/hotels/save" method="post">
  <label for="hotelName">Hotel Name:</label><br>
  <input type="text" id="hotelName" name="hotelName" required><br>

  <label for="hotelAddress">Hotel Address:</label><br>
  <input type="text" id="hotelAddress" name="hotelAddress" required><br>

  <label for="hotelImage1">Hotel Image 1:</label><br>
  <input type="text" id="hotelImage1" name="hotelImage1"><br>

  <label for="hotelImage2">Hotel Image 2:</label><br>
  <input type="text" id="hotelImage2" name="hotelImage2"><br>

  <label for="hotelImage3">Hotel Image 3:</label><br>
  <input type="text" id="hotelImage3" name="hotelImage3"><br>

  <input type="submit" value="Create Hotel">
</form>
</body>
</html>
