<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotels Home Page</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2>Welcome to Hotels Management</h2>

<h3>List of Hotels:</h3>
<table>
    <thead>
    <tr>
        <th>Hotel Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Images</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel : ${hotels}">
        <td th:text="${hotel.hotelName}"></td>
        <td th:text="${hotel.hotelAddress}"></td>
        <td th:text="${hotel.hotelPhone}"></td>
        <td>
            <img th:if="${hotel.hotelImage1}" th:src="${hotel.hotelImage1}" style="max-width: 100px; max-height: 100px;">
            <img th:if="${hotel.hotelImage2}" th:src="${hotel.hotelImage2}" style="max-width: 100px; max-height: 100px;">
            <img th:if="${hotel.hotelImage3}" th:src="${hotel.hotelImage3}" style="max-width: 100px; max-height: 100px;">
        </td>
        <td th:text="${hotel.hotelStatus ? 'Active' : 'Inactive'}"></td>
        <td>
            <a th:href="@{/hotels/update/{hotelId}(hotelId=${hotel.hotelId})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
