<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/Layout-Admin}">
<head>

    <title>Add Payment</title>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const now = new Date();
            const day = String(now.getDate()).padStart(2, '0');
            const month = String(now.getMonth() + 1).padStart(2, '0'); // Months are zero-based
            const year = now.getFullYear();
            const formattedDate = `${day}-${month}-${year}`; // dd-MM-yyyy
            document.getElementById('displayDay').textContent = formattedDate;
            const hiddenFormattedDate = `${year}-${month}-${day}`; // yyyy-MM-dd
            document.getElementById('paymentTime').value = hiddenFormattedDate;
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const formattedTime = `${hours}:${minutes}`;
            document.getElementById(('displayTime')).textContent = formattedTime;
        });
    </script>
</head>
<body>
<!--<section layout:fragment="content">-->
<!--    <main class="container mt-4">-->
<!--        <form th:action="@{/payments/save/{bookingId}(bookingId=${payment.booking.bookingId})}" th:object="${payment}" method="post">-->
<!--            <div class="form-group">-->
<!--                <label for="bookingId">Booking ID:</label>-->
<!--                <input type="text" id="bookingId" name="bookingId" th:value="${payment.booking.bookingId}" class="form-control" readonly>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="totalPayment">Total Payment:</label>-->
<!--                <input type="number" id="totalPayment" name="totalPayment" th:field="*{totalPayment}" class="form-control" readonly>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="paymentType">Payment Type:</label>-->
<!--                <input type="text" id="paymentType" name="paymentType" th:value="${payment.paymentType.paymentTypeId}" th:text="${payment.paymentType.paymentTypeName}" class="form-control" readonly>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="formattedPaymentTime">Payment Date:</label>-->
<!--                <input type="text" id="formattedPaymentTime" class="form-control" readonly>-->
<!--                <input type="hidden" id="paymentTime" name="paymentTime" th:field="*{paymentTime}">-->
<!--            </div>-->

<!--            <button type="submit" class="btn btn-primary">Save Payment</button>-->
<!--        </form>-->
<!--    </main>-->
<!--</section>-->
<section class="flex justify-center" layout:fragment="content">
    <section class="w-4/5 rounded-xl bg-white p-6 shadow-2xl">
        <div class="flex">
            <div class="flex flex-col gap-2">
                <p class="text-2xl font-bold">Xác nhận thanh toán</p>
                <p class="text-lg">
                    Mã đặt phòng: <strong class="text-[#FF5B26]" th:text="${payment.booking.bookingId}"></strong>
                </p>
                <p class="text-lg">
                    Hình thức thanh toán:
                    <strong class="text-[#FF5B26]" th:text="${payment.paymentType.paymentTypeName}"></strong>
                </p>
            </div>
        </div>
        <div class="mt-6 rounded-sm border-2 border-slate-950 p-4">
            <div class="grid grid-cols-[1fr_300px] border-b-2 pb-4">
                <div class="flex gap-2 border-r-2">
                    <img
                            th:src="${payment.booking.room.hotel.hotelImage1}"
                            alt=""
                            class="h-20 w-20 rounded-md object-cover"
                    />
                    <div>
                        <p class="font-semibold" th:text="${payment.booking.room.hotel.hotelName}"></p>
                        <div class="flex items-center gap-1">
                            <span class="font-semibold">Địa chỉ:</span>
                            <p th:text="${payment.booking.room.hotel.hotelAddress}">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col items-center ">
                    <p class="text-sm">Thời gian thanh toán</p>
                    <p class="mt-1 text-xl font-bold" id="displayDay"></p>
                    <div class="mt-2 flex items-center gap-1">
                        <img th:src="@{/static/hinhanh/oclock.svg}" alt="" class="mt-1 h-3 w-3" />
                        <span id="displayTime"></span>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <h2 class="text-2xl font-bold">Thông tin phòng</h2>
                <div class="mt-4 flex justify-between px-10">
                    <div>
                        <p class="text-xl font-semibold" th:text="${payment.booking.room.roomType.roomTypeName}"></p>
                        <div class="flex items-center gap-1">
                            <span class="font-semibold">Tên khách hàng:</span>
                            <p th:text="${payment.booking.user.username}">

                            </p>
                        </div>
                        <div class="flex items-center gap-1">
                            <span class="font-semibold">Số điện thoại:</span>
                            <p th:text="${payment.booking.user.phone}">

                            </p>
                        </div>
                        <div class="flex items-center gap-1">
                            <span class="font-semibold">Mô tả:</span>
                            <p th:text="${payment.booking.room.description}"> </p>
                        </div>
                        <div class="flex items-center gap-1">
                            <span class="font-semibold">Sức chứa:</span>
                            <p th:text="${payment.booking.room.roomType.capacity}"></p>
                        </div>
                    </div>
                    <div>
                        <span class="text-xl font-semibold">Giá:</span>
                        <span class="text-xl font-medium" th:text="${payment.booking.totalPrice} + ' VND'"></span>
                    </div>
                </div>
            </div>
        </div>
        <form th:action="@{/payments/save/{bookingId}(bookingId=${payment.booking.bookingId})}" th:object="${payment}" method="post" class="mt-6 flex justify-center">
            <input type="text" id="bookingId" name="bookingId" th:value="${payment.booking.bookingId}" HIDDEN="hidden">
            <input type="text" id="totalPayment" name="totalPayment" th:value="${totalPayment}" th:field="*{totalPayment}" HIDDEN="hidden">
            <input type="text" id="paymentType" name="paymentType" th:value="${payment.paymentType.paymentTypeId}" HIDDEN="hidden">
            <input type="hidden" id="paymentTime" name="paymentTime" th:field="*{paymentTime}" HIDDEN="hidden">
            <button
                    type="submit"
                    class="rounded-full bg-[#012169] px-[2.19rem] py-[0.94rem] text-[1.125rem] font-semibold text-white hover:opacity-90"
            >
                Xác nhận thanh toán
            </button>
        </form>
    </section>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
</body>
</html>