<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/Layout-Admin}">
<head>
  <meta charset="UTF-8">
  <title>Revenue Statistics</title>

</head>
<body>
<section class="mt-4 flex flex-col gap-8 p-10" layout:fragment="content">
  <div class="grid grid-cols-[380px_1fr_1fr] gap-8">
    <h2 class="text-3xl font-bold">Thống kê số liệu</h2>
    <div
            class="flex w-full justify-between rounded-lg bg-white p-4 shadow-2xl"
    >
      <div>
                <span class="text-lg font-semibold"
                >Tổng doanh thu thanh toán</span
                >
        <span class="block text-xl font-bold text-black" th:text="${totalPayments} + ' VND'"
        ></span
        >
      </div>
      <div class="h-3 w-3 rounded-full bg-green-400"></div>
    </div>
    <div
            class="flex w-full  justify-between rounded-lg bg-white p-4 shadow-2xl"
    >
      <div>
                <span class="text-lg font-semibold"
                >Tổng doanh thu trả phí</span
                >
        <span class="block text-xl font-bold text-black" th:text="${totalExtraCharges} + ' VND'"
        ></span
        >
      </div>
      <div class="h-3 w-3 rounded-full bg-green-400"></div>
    </div>
  </div>
  <div class="grid grid-cols-[380px_1fr] items-center gap-8">
    <div
            class="flex w-full h-full justify-between rounded-xl bg-white p-4 shadow-2xl"
    >
      <canvas id="pieChart"></canvas>
    </div>
    <div
            class="flex w-full h-full justify-between rounded-xl bg-white p-4 shadow-2xl"
    >

      <canvas id="barChart"></canvas>
    </div>
  </div>
</section>
<!--  <section layout:fragment="content">-->
<!--    <h1>Revenue Statistics</h1>-->
<!--    <div style="display: flex;">-->
<!--      <div style="width: 250px; height: 250px;">-->
<!--        <canvas id="barChart"></canvas>-->
<!--      </div>-->
<!--      <div style="width: 250px; height: 250px;">-->
<!--        <canvas id="pieChart"></canvas>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div>-->
<!--      <p>Total Payments: <span th:text="${totalPayments}"></span></p>-->
<!--      <p>Total Extra Charges: <span th:text="${totalExtraCharges}"></span></p>-->
<!--    </div>-->
<!--  </section>-->

</body>
</html>
