<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>
        User
    </h1>
    <div class="container mt-5">
        <h1 class="text-center">Search Available Rooms</h1>
        <form action="#" th:action="@{/bookings/AvailableRooms}" method="get" class="mt-4">
            <div class="form-group">
                <label for="checkInDate">Check-In Date:</label>
                <input type="date" id="checkInDate" name="checkInDate" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="checkOutDate">Check-Out Date:</label>
                <input type="date" id="checkOutDate" name="checkOutDate" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div>
        <a th:href="@{/informationUser}" class="btn btn-primary">Information User</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</body>
</html>