<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout-User"
      layout:decorate="~{Fragments/Layout-User}">
<head>
    <title>Reset Password</title>
</head>
<body>
<!--<h1>Reset Password</h1>-->
<!--<form th:action="@{/reset-password}" method="post">-->
<!--    <input type="hidden" name="email" th:value="${email}">-->
<!--    <input type="hidden" name="token" th:value="${token}">-->
<!--    <div>-->
<!--        <label for="newPassword">New Password:</label>-->
<!--        <input type="password" id="newPassword" name="newPassword" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="confirmNewPassword">Confirm New Password:</label>-->
<!--        <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>-->
<!--    </div>-->
<!--    <button type="submit">Reset Password</button>-->
<!--</form>-->
<!--<div th:if="${error}" th:text="${error}"></div>-->
<section class="relative" layout:fragment="content">
    <img
            th:src="@{/static/hinhanh/bg-login.png}"
            alt=""
            style="height: calc(100vh - 92px)"
            class="w-screen object-cover"
    />
    <div
            class="absolute left-2/4 top-2/4 flex w-[26.875rem] translate-x-[-50%] translate-y-[-50%] flex-col items-center rounded-xl bg-white p-6"
    >
        <h2 class="text-[1.75rem] font-bold text-[#191B1D]">
            Tạo mới mật khẩu
        </h2>

        <form th:action="@{/reset-password}" method="post" class="mt-6 w-full">
            <input type="hidden" name="email" th:value="${email}">
            <input type="hidden" name="token" th:value="${token}">
<!--            <div class="flex h-14 w-full items-center">-->
<!--                <input-->
<!--                        type="password"-->
<!--                        required-->

<!--                        placeholder="Vui lòng nhập mật khẩu cũ"-->
<!--                        class="h-full w-full rounded-full border-[1px] border-solid border-[#191B1D26] p-4 outline-none"-->
<!--                />-->
<!--            </div>-->
            <div class="mt-4 flex h-14 w-full items-center">
                <input
                        type="password"
                        required
                        id="newPassword" name="newPassword"
                        placeholder="Vui lòng nhập mật khẩu mới"
                        class="h-full w-full rounded-full border-[1px] border-solid border-[#191B1D26] p-4 outline-none"
                />
            </div>
            <div class="mt-4 flex h-14 w-full items-center">
                <input
                        type="password"
                        required
                        id="confirmNewPassword" name="confirmNewPassword"
                        placeholder="Xác nhận mật khẩu mới"
                        class="h-full w-full rounded-full border-[1px] border-solid border-[#191B1D26] p-4 outline-none"
                />
            </div>

            <button
                    type="submit"
                    class="mt-6 flex h-14 w-full items-center justify-center rounded-full bg-[#FF5B26] text-center text-lg font-semibold text-white hover:opacity-90"
            >
                Tạo mới
            </button>
        </form>
        <div th:if="${error}" th:text="${error}"></div>
    </div>
</section>
</body>
</html>
