<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/Layout-Admin}">
<head>
    <title>Quản lý tài khoản người dùng</title>

</head>
<body>
<section class="flex w-full justify-center mt-10" layout:fragment="content">
    <div class="w-4/6 rounded-xl bg-white p-5 shadow-2xl">
        <h2 class="inline border-b-4 pb-2 text-2xl font-bold">
            Cập nhật trạng thái tài khoản
        </h2>
        <form th:action="@{/updateUserStatus/{userId}(userId=${user.id})}" th:object="${user}" method="post" class="mt-6">
            <div class="flex flex-col gap-3 ">
                <div class="flex justify-between gap-4">
                    <div class="flex w-full flex-col gap-2">
                        <label for="username" class="text-xs font-medium">Tên nhân viên</label>
                        <input
                                type="text"
                                class="h-10 rounded-md border-2 p-4 text-lg text-black"
                                id="username" th:field="*{username}" disabled
                        />
                    </div>


                </div>
                <div class="flex justify-between gap-4">
                    <div class="flex w-full flex-col gap-2">
                        <label for="email" class="text-xs font-medium">Email</label>
                        <input
                                type="email"
                                class="h-10 rounded-md border-2 p-4 text-lg text-black"
                                id="email" th:field="*{email}" disabled
                        />

                    </div>
                    <div class="flex w-full flex-col gap-2">
                        <label for="phone" class="text-xs font-medium">Số điện thoại</label>
                        <input
                                id="phone" th:field="*{phone}" disabled
                                type="text"
                                class="h-10 rounded-md border-2 p-4 text-lg text-black"
                        />

                    </div>
                </div>
            </div>
            <div class="flex items-center mt-4">
                <input
                        id="accountStatus" th:field="*{accountStatus}"
                        type="checkbox"
                        value=""
                        class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600"
                />
                <label
                        for="accountStatus"
                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Trạng thái tài khoản
                </label>
            </div>
            <div class="flex items-center justify-end mt-8">
                <button
                        type="submit"
                        class="h-14 w-40 rounded-full bg-[#FF5B26] px-6 py-2 text-lg font-bold text-white hover:opacity-90"
                >
                    Xác nhận
                </button>
            </div>
        </form>
        <div th:if="${errors}" class="alert alert-danger" role="alert">
            <ul>
                <li th:each="error : ${errors}" th:text="${error}"></li>
            </ul>
        </div>
    </div>
</section>
<!--<section layout:fragment="content">-->
<!--    <div class="container">-->
<!--        <h1 class="mt-5">Manage Account Employee</h1>-->
<!--        <p class="alert alert-info" th:text="${message}"></p>-->

<!--        <form th:action="@{/updateUserStatus/{userId}(userId=${user.id})}" th:object="${user}" method="post">-->
<!--            <div class="form-group">-->
<!--                <label for="username">Username:</label>-->
<!--                <input type="text" id="username" name="username" th:field="*{username}" class="form-control" readonly>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="email">Email:</label>-->
<!--                <input type="email" id="email" name="email" th:field="*{email}" class="form-control" readonly>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="phone">Phone:</label>-->
<!--                <input type="text" id="phone" name="phone" th:field="*{phone}"  class="form-control" readonly>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="checkbox" id="accountStatus" th:field="*{accountStatus}">-->
<!--                    <label class="form-check-label" for="accountStatus">Active</label>-->
<!--                </div>-->
<!--            </div>-->


<!--            <button type="submit" class="btn btn-primary">Update</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</section>-->


<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

</body>
</html>
