<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Accounts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content">
    <main>
        <div class="container mt-5">
            <div>
                <a th:href="@{/createEmployeeAccount}" class="btn btn-primary">Create Account</a>
            </div>
            <h1 class="mb-4">Employee Accounts</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.username}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${employee.accountStatus} ? 'Active' : 'Inactive'"></td>
                    <td> <a th:href="@{/getDetailEmployee/{userId}(userId=${employee.id})}" class="btn btn-primary">Edit</a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </main>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
