<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout-Admin"
      layout:decorate="~{Fragments/Layout-Admin}">
<head>
    <title>Admin Booking List</title>
</head>
<body>
<section layout:fragment="content">
    <h2 class="mb-6 text-3xl font-bold">Danh sách đặt phòng</h2>
    <div
            class="mb-0 flex w-full min-w-0 flex-col break-words rounded-2xl border-0 border-solid border-transparent bg-white bg-clip-border shadow-xl"
    >
        <div
                class="mb-14 flex items-center justify-between rounded-t-2xl bg-white p-6 pb-0 text-lg font-medium"
        >
            <h6>Tất cả đặt phòng</h6>
            <div class="flex items-center gap-4">
                <form th:action="@{/bookings/searchBookingByUserPhone}" method="get" class="flex gap-2">
                    <input
                            type="text"
                            class="h-12 rounded-lg border-2 p-4 text-black"
                            placeholder="Tìm theo số điện thoại"
                            id="phone" name="phone"
                    />
                    <button
                            type="submit"
                            class="rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500 px-3 py-2 font-bold text-white hover:opacity-90"
                    >
                        Tìm kiếm
                    </button>
                </form>
                <span class="text-2xl">|</span>
                <a
                        th:href="@{/bookings/listBookingOfAdmin}"
                        class="flex items-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500 px-3 py-2 font-bold text-white hover:opacity-90"
                >Hiển thị tất cả</a
                >
            </div>
        </div>
        <div>
            <div class="overflow-x-auto p-0">
                <table
                        class="mb-0 w-full items-center border-gray-200 align-top text-slate-500"
                >
                    <thead class="align-bottom">
                    <tr>
                        <th
                                class="border-b-solid tracking-none whitespace-nowrap border-b border-gray-200 bg-transparent px-6 py-3 text-left align-middle text-sm font-bold uppercase text-slate-400 opacity-70 shadow-none"
                        >
                            Mã đặt phòng
                        </th>
                        <th
                                class="border-b-solid tracking-none whitespace-nowrap border-b border-gray-200 bg-transparent px-2 text-left align-middle text-sm font-bold uppercase text-slate-400 opacity-70 shadow-none"
                        >
                            Nhận phòng
                        </th>
                        <th
                                class="border-b-solid tracking-none whitespace-nowrap border-b border-gray-200 bg-transparent px-2 text-left align-middle text-sm font-bold uppercase text-slate-400 opacity-70 shadow-none"
                        >
                            Trả phòng
                        </th>
                        <th
                                class="border-b-solid tracking-none whitespace-nowrap border-b border-gray-200 bg-transparent px-2 text-left align-middle text-sm font-bold uppercase text-slate-400 opacity-70 shadow-none"
                        >
                            Tổng tiền
                        </th>
                        <th
                                class="border-b-solid tracking-none whitespace-nowrap border-b border-gray-200 bg-transparent px-2 text-left align-middle text-sm font-bold uppercase text-slate-400 opacity-70 shadow-none"
                        >
                            Trạng thái TT
                        </th>
                        <th
                                class="border-b-solid tracking-none whitespace-nowrap border-b border-gray-200 bg-transparent px-2 text-left align-middle text-sm font-bold uppercase text-slate-400 opacity-70 shadow-none"
                        >
                            Trạng thái NP
                        </th>
                        <th
                                class="border-b-solid tracking-none whitespace-nowrap border-b border-gray-200 bg-transparent px-2 text-left align-middle text-sm font-bold uppercase text-slate-400 opacity-70 shadow-none"
                        >
                            Số phòng
                        </th>

                        <th
                                class="border-b-solid tracking-none whitespace-nowrap border-b border-gray-200 bg-transparent px-2 text-left align-middle text-sm font-bold uppercase text-slate-400 opacity-70 shadow-none"
                        >
                            Sử dụng
                        </th>
                        <th
                                class="border-b-solid tracking-none whitespace-nowrap border-b border-gray-200 bg-transparent px-2 text-left align-middle text-sm font-bold uppercase text-slate-400 opacity-70 shadow-none"
                        >
                            SĐT
                        </th>
                        <th
                                class="border-b-solid tracking-none whitespace-nowrap border-b border-gray-200 bg-transparent px-2 text-left align-middle text-sm font-bold uppercase text-slate-400 opacity-70 shadow-none"
                        >
                            Hành động
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="booking : ${bookings}">
                        <td
                                class="whitespace-nowrap border-b bg-transparent p-2 align-middle shadow-transparent"
                        >
                            <div class="flex items-center px-6 py-1">
                                <div class="flex flex-col justify-center">
                                    <h6 class="mb-0 text-sm font-bold leading-normal" th:text="${booking.bookingId}">

                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td
                                class="whitespace-nowrap border-b bg-transparent p-2 align-middle shadow-transparent"
                        >
                            <p class="mb-0 text-xs font-semibold leading-tight" th:text="${booking.checkInDate}">

                            </p>
                        </td>
                        <td
                                class="whitespace-nowrap border-b bg-transparent p-2 align-middle shadow-transparent"
                        >
                            <p class="mb-0 text-xs font-semibold leading-tight" th:text="${booking.checkOutDate}">

                            </p>
                        </td>
                        <td
                                class="whitespace-nowrap border-b bg-transparent p-2 align-middle shadow-transparent"
                        >
                            <p class="mb-0 text-xs font-semibold leading-tight" th:text="${booking.totalPrice}">

                            </p>
                        </td>
                        <td
                                class="whitespace-nowrap border-b bg-transparent p-2 text-left align-middle text-sm leading-normal shadow-transparent"
                        >
                        <span
                                th:classappend="${booking.paymentStatus} ? 'from-green-600 to-lime-400' : 'from-amber-500 to-yellow-500'" th:text="${booking.paymentStatus ? 'Hoàn tất' : 'Chờ xử lý'}" class="inline-block whitespace-nowrap rounded-full bg-gradient-to-tl  px-4 py-3 text-left align-baseline text-xs font-bold uppercase leading-none text-white"
                        ></span
                        >
                        </td>
                        <td
                                class="whitespace-nowrap border-b bg-transparent p-2 text-left align-middle text-sm leading-normal shadow-transparent"
                        >
                        <span
                                th:classappend="${booking.checkInStatus} ? 'from-green-600 to-lime-400' : 'from-amber-500 to-yellow-500'"   th:text="${booking.checkInStatus ? 'Đã Nhận' : 'Chưa nhận'}"    class="inline-block whitespace-nowrap rounded-full bg-gradient-to-tl  px-4 py-3 text-left align-baseline text-xs font-bold uppercase leading-none text-white"
                        ></span
                        >
                        </td>
                        <td
                                class="whitespace-nowrap border-b bg-transparent p-2 align-middle shadow-transparent"
                        >
                            <p class="mb-0 text-xs font-semibold leading-tight"  th:text="${booking.room != null ? booking.room.roomNumber : 'Không có'}">

                            </p>
                        </td>
                        <td
                                class="whitespace-nowrap border-b bg-transparent p-2 align-middle shadow-transparent"
                        >
                            <p class="mb-0 text-xs font-semibold leading-tight" th:text="${booking.user.username}">
                            </p>
                        </td>
                        <td
                                class="whitespace-nowrap border-b bg-transparent p-2 align-middle shadow-transparent"
                        >
                            <p class="mb-0 text-xs font-semibold leading-tight" th:text="${booking.user.phone}">
                            </p>
                        </td>

                        <td class="whitespace-nowrap border-b pr-4 align-middle">
                            <a th:href="@{'/bookings/BookingUpdateCheckIn/' + ${booking.bookingId}}">
                          <span
                                  class="flex items-center justify-center gap-2 rounded-md bg-green-500 py-2 font-medium text-white"
                          ><img
                                  src="/static/hinhanh/check.svg"
                                  alt=""
                                  class="icon-white h-4 w-4"
                          />
                            Check In</span
                          >
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mt-4 w-72 rounded-2xl bg-white p-4 shadow-xl">
            <span class="flex items-center gap-1 text-sm"
            ><strong class="font-bold">Trạng Thái TT: </strong> Trạng thái
              thanh toán</span
            >
        <span class="mt-2 flex items-center gap-1 text-sm"
        ><strong class="font-bold">Trạng Thái NP: </strong> Trạng thái
              thanh toán</span
        >
        <span class="mt-2 flex items-center gap-1 text-sm"
        ><strong class="font-bold">STĐ: </strong> Số điện thoại</span
        >
    </div>
</section>
<!--    <section layout:fragment="content">-->
<!--        <main class="container mt-4">-->
<!--            <div class="row mb-4">-->
<!--                <div class="col-md-8 offset-md-2">-->
<!--                    <form th:action="@{/bookings/searchBookingByUserPhone}" method="get" class="form-inline">-->
<!--                        <div class="form-group">-->
<!--                            <label for="phone">Phone Number:</label>-->
<!--                            <input type="text" id="phone" name="phone" class="form-control mr-2" placeholder="Enter phone number" required>-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn btn-primary">Search</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <a th:href="@{/bookings/listBookingOfAdmin}" class="btn btn-primary">All booking</a>-->
<!--            </div>-->
<!--            &lt;!&ndash; Error message &ndash;&gt;-->
<!--            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">-->
<!--                <span th:text="${errorMessage}"></span>-->
<!--            </div>-->
<!--            <div class="table-responsive">-->
<!--                <table class="table table-bordered table-striped">-->
<!--                    <thead class="thead-dark">-->
<!--                    <tr>-->
<!--                        <th>Booking ID</th>-->
<!--                        <th>Check-In Date</th>-->
<!--                        <th>Check-Out Date</th>-->
<!--                        <th>Total Price</th>-->
<!--                        <th>Payment Status</th>-->
<!--                        <th>Check-In Status</th>-->
<!--                        <th>Room</th>-->
<!--                        <th>User</th>-->
<!--                        <th>Actions</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="booking : ${bookings}">-->
<!--                        <td th:text="${booking.bookingId}"></td>-->
<!--                        <td th:text="${booking.checkInDate}"></td>-->
<!--                        <td th:text="${booking.checkOutDate}"></td>-->
<!--                        <td th:text="${booking.totalPrice}"></td>-->
<!--                        <td th:text="${booking.paymentStatus ? 'Paid' : 'Pending'}"></td>-->
<!--                        <td th:text="${booking.checkInStatus ? 'Checked In' : 'Not Checked In'}"></td>-->
<!--                        <td th:text="${booking.room != null ? booking.room.roomNumber : 'No Room Assigned'}"></td>-->
<!--                        <td th:text="${booking.user.username}"></td>-->
<!--                        <td>-->
<!--                            <a th:href="@{'/bookings/BookingUpdateCheckIn/' + ${booking.bookingId}}" class="btn btn-sm btn-success mb-1">Check In</a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--            <nav aria-label="Page navigation" th:if="${totalPages > 1}">-->
<!--                <ul class="pagination">-->
<!--                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">-->
<!--                        <a class="page-link" th:href="@{'/bookings/listBookingOfAdmin?page=' + ${currentPage - 1}}" aria-label="Previous">-->
<!--                            <span aria-hidden="true">&laquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == i} ? 'active'">-->
<!--                        <a class="page-link" th:href="@{'/bookings/listBookingOfAdmin?page=' + ${i}}" th:text="${i + 1}">1</a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">-->
<!--                        <a class="page-link" th:href="@{'/bookings/listBookingOfAdmin?page=' + ${currentPage + 1}}" aria-label="Next">-->
<!--                            <span aria-hidden="true">&raquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </main>-->
<!--    </section>-->



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

</body>
</html>
