<!doctype html>
<html lang="en" >
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/output.css" />

    <title>Bill List - page</title>
</head>
<body class="font-sans">
<main>
    <section class="flex h-screen flex-col items-center justify-center">
        <img src="/static/hinhanh/403.jpg" alt="" class="h-[36rem] w-[36rem] object-cover" />
        <h2 class="mt-8 text-2xl font-bold">Forbidden</h2>


 
    </section>
</main>
</body>
</html>
