<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Book Room</h1>
    <form th:action="@{/bookings/save}" th:object="${booking}" method="post" class="mt-4">
        <div class="form-group">
            <label for="checkInDate">Check-In Date:</label>
            <input type="text" id="checkInDate" name="checkInDate" th:field="*{checkInDate}" th:format="'dd/MM/yyyy'"
                   readonly="readonly" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="checkOutDate">Check-Out Date:</label>
            <input type="text" id="checkOutDate" name="checkOutDate" th:field="*{checkOutDate}" th:format="'dd/MM/yyyy'"
                   readonly="readonly" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="totalPrice">Total Price:</label>
            <input type="text" id="totalPrice" name="totalPrice" th:field="*{totalPrice}"
                   class="form-control" readonly="readonly" disabled>
        </div>
        <div class="form-group">
            <label for="room">Room:</label>
            <input type="text" id="room" name="room" th:field="*{room.roomType.roomTypeName}" readonly="readonly"
                   class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Book Now</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
