<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Blogs</title>
</head>
<body>
<h2>List of Blogs</h2>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Main Image</th>
        <th>Post Date</th>
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogs}">
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.mainImage}"></td>
        <td th:text="${blog.postDate}"></td>
        <!-- Add more columns as needed -->
    </tr>
    </tbody>
</table>
<!-- Pagination -->
<div>
    <ul>
        <nav aria-label="Page navigation" th:if="${totalPages > 1}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{'/blogs/list?page=' + ${currentPage - 1}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == i} ? 'active'">
                    <a class="page-link" th:href="@{'/blogs/list?page=' + ${i}}" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{'/blogs/list?page=' + ${currentPage + 1}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </ul>
</div>
</body>
</html>
